@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #274c5b;
}

/*
  color:#274C5B
  color:#7EB693
  color:#EFD372
  color:#525C60
  color:#D4D4D4
  color:#F9F8F8
  color:#EFF6F1
  */
